.logo{
    margin-left: 1100px;
}

.lab{
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 30px;
}

.content{
    margin-left: 200px;
    margin-right: 200px;
      
}

.container{
    margin-left: 120px;
    border: none;
    border-radius: 30px;
    height: 70rem;
    width: 1300px;
    display: flex;
}


.box1{
    width: 200px;
}

.user{
    width: 100px;
    height: 100px;
    padding-left: 60px;
}

.wel{
    padding-left: 80px;
}

.imgUser{
    background-color: #d6cfbd;  
    border-radius: 30px;
    padding-right: 100px;
    
}

.collect{
    width: 30px;
    height: 20px;
    padding-left: 80px;
    
}

h1 span{
    color: orange;
}

.p{
    margin-left: 60px;
}

.col{
    margin-left: 55px;
}

.save{
    width: 30px;
    height: 20px;
    padding-left: 80px;
}

.sve{
    margin-left: 70px;
}

.profile{
    width: 30px;
    height: 30px;
    padding-left: 80px;
}
.pro{
    margin-left: 70px;
}

.logout{
    width: 30px;
    height: 30px;
    padding-left: 80px;
   
}

.log{
    margin-left: 70px;
}

.box2{
    width: 1100px;
    height: 48rem;
    border: 5px solid red;
    float: left;
    display: flex;
}

.split{
    position: fixed;
}

.search{
    width: 300px;
    height: 35px;
    border-radius: 27px;
    background-color: #d6cfbd;
    padding-left: 10px;
    border: none;
    margin-left: 250px;  
    margin-top: 22px;  
    display: flex;
   
}


.glass{
    width: 20px;
    height: 15px;
    margin-top: -30px;
    margin-left: 525px;
    
}

.image1{
    padding-top: 100px;
}


.h3{
    margin-bottom: 200px;
    margin-left: 50px;
}

nav{
    
    width: 990px;
    height: 90px;

}

.hotel{
    margin-top: 200px;
    margin-left: -1070px;
    background-color: #0d8cc7;
    display: flex;
    height: 120px;
    color: black;
    border-radius: 30px;

}

.harry{
    background-color: rgb(86, 75, 146);
    color: rgb(166, 165, 170);
    display: flex;
    height: 120px;
    margin-top: 200px;
    margin-left: 30px;
    width: 350px;
    border-radius: 30px;
}

.logings{
    background-color: rgb(204, 155, 77);
    color: white;
    display: flex;
    height: 120px;
    margin-top: 200px;
    margin-left: 30px;
    width: 350px;
    border-radius: 30px;
}

.new{
    margin-left: -1070px;
    margin-top: 350px;
}

.rose{
    margin-top: 300px;
    margin-left: -120px;
}

.book1{
    width: 100px;
    border: none;
    text-align: center;
    height: 120px;
    margin-top: 420px;
    margin-left: -111px;

    
}

.book2{
    width: 100px;
    border: none;
    text-align: center;
    height: 120px;
    margin-top: 420px;
    margin-left: 30px;

}

.book3{
    width: 100px;
    border: none;
    text-align: center;
    height: 120px;
    margin-top: 420px;
    margin-left: 40px;

}

.book4{
    width: 100px;
    border: none;
    text-align: center;
    height: 120px;
    margin-top: 420px;
    margin-left: 50px;
}

.book5{
    width: 100px;
    border: none;
    text-align: center;
    height: 120px;
    margin-top: 420px;
    margin-left: 60px;
}

.corner{
    border:none;
    width: 200px;
    height: 350px;
    margin-top: 400px;
    margin-left: 185px;
    background-color: #ecece9;
    border-radius: 30px;
}

.au{
    padding-left: 80px;
}

.box-jk{
    display: flex;
}

.JKR{
    border-radius: 50px;
}

.jkT{
    padding-left: 15px;
}

.#book{
    padding-left: -10px;
}

.box-king{
    display: flex;
}

.king{
    border-radius: 50px;
}

.kng{
    padding-left: 15px;
}

.box-steel{
    display: flex;
}

.steel{
    border-radius: 50px;
}

.stl{
    padding-left: 15px;
}

.photo{
    margin-top: -60px;
    border-radius: 10px;
    padding-left: 20px;
    

}

.form{
    border: 5px solid red;
    width: 900px;
    height: 600px;
    margin-left: 350px;
    margin-top: 50px;
    background-color: white;
    
    
}

.registration-container{
    padding-left: 350px;

}

.item{
    margin-left: 250px;
    width:400px;
    height: 40px;
    border-radius: 40px;
    padding-left: 12px;
    background-color:#d6cfbd ;
    border: none;
}

.file{
    padding-left: 350px;
}

.submit{
    margin-left: 350px;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: #d6cfbd;
    border: none;
}

.logopic{
    margin-left: 1100px;
}

.kindle{

    font-size: xx-large;
    font-weight: bolder;
    padding-left: 30px;

}

.reg{
    padding-left: 320px;
}

.loginhead{
    padding-left: 360px;
}

.ama{
    margin-left: 1100px;

}

.colKindle{
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 300px;
}

.collections{
    border: 5px solid red;
    width: 1000px;
    height: 600px;
    margin-left: 400px;
    margin-top: 50px;
    background-color: white;
    display: flex;
    
}

.colbooks1{
    margin-top: 30px;
    width: 100px;
    margin-left: 120px;

}

.colbooks2{
    margin-top: 30px;
    width: 100px;
    margin-left: 120px;

}

.colbooks3{
    margin-top: 30px;
    width: 100px;
    margin-left: 120px;
}

.colbooks4{
    margin-top: 30px;
    width: 100px;
    margin-left: 120px;
}

.colbooks5{
    margin-top: 300px;
    width: 100px;
    margin-left: -760px;
}

.colbooks6{
    margin-top: 300px;
    width: 100px;
    margin-left: 120px;
}

.colbooks7{
    margin-top: 300px;
    width: 100px;
    margin-left: 120px;
}

.colbooks8{
    margin-top: 300px;
    width: 100px;
    margin-left: 120px;
}

.bailey{
    display: flex;
    background-color: rgb(127, 214, 236);
    height: 120px;
    width: 300px;
    margin-top: 30px;
    margin-left: 20px;
}

.world{
    display: flex;
    background-color: #0d8cc7;
    width: 300px;
    height: 120px;
    margin-top: 30px;
    margin-left: 30px;
}

.fantasy{
    display: flex;
    background-color: #77bcc9;
    width: 300px;
    height: 120px;
    margin-top: 30px;
    margin-left: 30px;
    
}

.thril{
    display: flex;
    background-color: #ceeef5;
    width: 300px;
    height: 120px;
    margin-top: 250px;
    margin-left: -960px;
}

.next{
    display: flex;
    background-color: #84d8d4;
    width: 300px;
    height: 120px;
    margin-top: 250px;
    margin-left: 30px;
}

.worst{
    display: flex;
    background-color: #3e3941;
    width: 300px;
    height: 120px;
    margin-top: 250px;
    margin-left: 30px;
    color: rgb(177, 170, 139);
}

.bones{
    display: flex;
    background-color: #5e9786;
    width: 300px;
    height: 120px;
    margin-top: 450px;
    margin-left: -960px;
}

.savedphoto{
    margin-top: -20px;
    border-radius: 10px;
    padding-left: 20px;
}